*.iml
.gradle
/local.properties
/.idea/
.vscode/
.DS_Store
/build
/app/build
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
/old
/release
manifest-merger-release-report.txt
google-services.json
**/google-services.json
*.keystore
*.jks
*.pepk
*.pem
